body {
  background-color: gray;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-title {
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: -1px 1px 0 green, 1px 1px 0 green, 1px -1px 0 green,
    -1px -1px 0 green;
}

/* clock */

#clock {
  margin-top: 40px;
  background-color: white;
  font-size: 87px;
  width: 540px;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Counter */

.counter-btn {
  width: 90px;
  height: 60px;
  font-size: 30px;
  background-color: green;
  color: white;
}

.counter-btn:hover {
  background-color: purple;
  color: grey;
}

#counting {
  font-size: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.js-counter-title {
  font-size: 30px;
  text-align: center;
}

.counter-btn-div {
  display: flex;
  justify-content: center;
}

.counter-container {
  margin-top: 50px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Habits Question */

#habits {
  margin-top: 50px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.habits-btn {
  width: 80px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: green;
  color: white;
  align-items: center;
}

.habit-center-btn {
  display: flex;
}

.habit-center-title {
  text-align: center;
}

#answer1 {
  text-align: center;
}
